<app-header></app-header>
<button routerLink="/dashboard" class="pull right">Back</button>
<div class="container">
    <div class="col-md-6">
      <img class="img-responsive" src="data:image/jpeg;base64,{{imageget1?.file1_data}}">
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="data:image/jpeg;base64,{{imageget1?.file2_data}}">
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="data:image/jpeg;base64,{{imageget1?.file3_data}}">
    </div>
    <div>
      <img class="img-responsive" src="data:image/jpeg;base64,{{imageget1?.file4_data}}">
    </div>
</div>



